/* PHP Pendu
 *
 * /sass/settings/_colors.scss - Global colors variables
 *
 * coded by Quentin
 */

$mainBackgroundColor: #405D9A;
$winBackgroundColor: green;
$lostBackgroundColor: red;

$laborTextColor: #000;
