/* PHP Pendu
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Quentin
 */

// Settings - Variables globales
@import "settings/colors";
@import "settings/fonts";
@import "settings/sizes";

// Generic - Style de remise à zéro (reset, normalize…)
@import "generic/meyer-reset";

// Styles
html {
    font: 16px/1.25 $montserratStack;
    background-color: $mainBackgroundColor;
    color: $laborTextColor;
    margin: 0 auto;
}
body {
    margin: 3rem 1.5rem;
    text-align: center;
}
img {
    max-height: $imgHeight;
    border-radius: 15px;
}
a {
    text-decoration: none;
    color: #EEEEEE;
    &:hover {
        color: #CCCCCC;
    }
}
p, form, legend {
    margin: 1rem;
}
div {
    padding: 1rem;
    border-radius: 15px;
    p {
        margin: 0 0 1rem 0;
    }
}
.win {
    background-color: $winBackgroundColor;
}
.lost {
    background-color: $lostBackgroundColor;
}
.word {
    font-weight: bold;
}

@media(max-width: $mobileWidth){
    body {
        margin: 5%;
    }
    img {
        max-width: 75%;
    }
}
